{% load static %}
<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="{% static 'images/spl.png' %}"/>
		<title>{% block title %}Splurge{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'index' %}">Splurge</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'index' %}">Inicio</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								{% if user.is_authenticated %}
								<li><a href="elements.html">Perfil: {{user.username}}</a></li>
								<li><a href="{% url 'logout' %}">Salir</a></li>
								{% else %}
								<li><a href="{% url 'login' %}">Inicia sesión</a></li>
								<li><a href="{% url 'signup' %}">Regístrate</a></li>
								{% endif %}
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>{% block content-title %} Splurge {% endblock%}</h2>
								<p>
									{% block content-description %}
									{% endblock %}
								</p>
							</div>
						</header>

						{% block content %} 
						{% endblock %}

						<!-- Content -->


					</section>
							

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>