{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block content-title %}Bienvenido, {{user.first_name}} {% endblock %}
{% block content-description %} 
    Ve los eventos que tienes pendientes
{% endblock %}

{% block content %} 
    <div class="wrapper alt spotlight">
		<div class="inner">
            {% if events %}
            <div class="row gtr-uniform">
                {% for event in events%}
                    <div class="col-6 col-12-xsmall">
                            <h2>{{event.name}}</h2>
                            <h3>{{event.date}}</h3>
                            <p>Creado por:</p>
                            <ul>
                                {% for organizer in event.organizer%}
                                <li>{{organizer.username}}1</li>
                                {% endfor %}
                            </ul>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No tienes eventos :(</p>
            {% endif %}
        </div>
    </div>
{% endblock %}