
{% extends 'base.html' %}

{% block title %}¿ERES ORGANIZADOR?{% endblock %}
{% block content-title%}¿ERES ORGANIZADOR?{% endblock %}


{% block content %} 
<p>Al ser miembro orgnizador tendras los siguientes beneficios:</p>
      <ul>
	<li>Publicidad para  tu evento con la comunidad</li>
	<li>Manejo de codigos QR para mayor control y seguridad para tu evento
	</li>
	<li>Control de comision de parte de tus invitados</li>
      </ul>

      <button>
	Da click aqui para agregar tu <b> evento </b>
	<br>
	<br>
	<img src = "https://image.flaticon.com/icons/png/512/42/42953.png"  width="200" height="200" alt="">
	</button>
{% endblock %}

