{% extends 'base.html' %}

{% block title %}ACUMULA PUNTOS{% endblock %}
{% block content-title %}ACUMULA PUNTOS{% endblock %}


{% block content %} 
 <p>Al ser miembro comienzas a acomular puntos por cada evento que asistas, y
      te diviertas en el, mientras mas seas el alma de la fiesta mas puntos
      obtendras,los puntos te dan los siguientes beneficios:</p>
      <ul>
	<li>Acceso rapido a los clubes de la ciudad, ¿No odias tener que
	  esperar una hora?, ¿dos? ¿O INCLUSO HASTA 3?, ya no mas de eso,
	  acomunlando puntos aumenta tu reputacion lo cual te dara un acceso
	  mas agil a los clubes.</li>
	<li>Descuento en el cover</li>
	<li>Consideracion para ser parte de la zona V.I.P</li>
	<li>Descuento en bebidas dentro del club</li>
      </ul>
{% endblock %}


