{% load static %}

<!doctype html>
<html lang="es-MX">
	<head>
		<title>Splurge</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript> <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /> </noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{% url 'index' %}">Splurge</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="{% url 'login' %}">Log In</a></li>
								<li><a href="{% url 'signup' %}">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-diamond"></span></div>
							<h2>Splurge</h2>
							<p>¿Planeas una fiesta en casa este fin de semana? ¿Qué tan lejos la podemos llevar?</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Únete a la comunidad</h2>
										<p>
											Descubre porque <strong>Splurge</strong> es tu aliado para las fiestas.
											Benefíciate de los servicios que tenemos para organizadores y para los invitados.
											Hacer fiestas nunca había sido tan fácil.
										</p>
										<a href="#" class="special">Descubre más</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Acumula puntos </h2>
										<p>
											Puedes acumular puntos para tener prioridad en eventos y lugares de moda.
											Hazle saber a los organizadores sobre ti y sé el rey de la fiesta.
										</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">¿Eres organizador?</h2>
										<p>
											Registra tus eventos y se el mejor host.
										</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Al registrarte en un evento, ahora tienes más beneficios</h2>
									<p></p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="{% static 'images/qr.jpg' %}" alt=""   /></a>
											<h3 class="major">Ingresa con tu codigo QR</h3>
											<p>Deja de preocuparte por no olvidar tu entrada.
												Ahora todo es mucho más sencillo.
											</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'images/sorpresa.jpg' %}" alt="" /></a>
											<h3 class="major">Gana regalos por parte de los organizadores.</h3>
											<p>
												Ahora las sorpresas van por parte de los organizadores.No pierdas tu oportunidad y registrate ahora... 
											</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
								</div>
							</section>
							<!--REGISTRO EVENTOS-->

						<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major"></h2>
									<p></p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="{% static 'images/qr2.jpg' %}" alt=""   /></a>
											<h3 class="major">Registra tu evento aqui!</h3>
											<p>Deja de preocuparte por no olvidar tu entrada.
												Ahora todo es mucho más sencillo.
											</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'images/sorpresa2.jpg' %}" alt="" /></a>
											<h3 class="major">Aparta la entrada a tu evento aqui!.</h3>
											<p>
												Ahora las sorpresas van por parte de los organizadores.No pierdas tu oportunidad y registrate ahora... 
											</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
								</div>
							</section>


				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p></p>
							
							<ul class="contact">
								<li class="fa-home">
									Untitled Inc<br />
									1234 Somewhere Road Suite #2894<br />
									Nashville, TN 00000-0000
								</li>
								<li class="fa-phone">(000) 000-0000</li>
								<li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Splurge Inc. All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>